<template name="Header">
  <img style="max-height: 200px" class="ui fluid image" src="/images/banner.jpg">
  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">
    <div class="ui container">

      <a class="{{ isActiveRoute 'Home_Page'}} item"  href="{{ pathFor 'Home_Page' }}">Home</a>
      <a class="{{ isActiveRoute 'Profile_Page'}} item" href="{{ pathFor 'Profile_Page' }}">Edit Profile</a>
      <a class="{{ isActiveRoute 'Browse_Page'}} item" href="{{ pathFor 'Browse_Page' }}">Browse Profiles</a>
      <a class="{{ isActiveRoute 'Login_Page'}} right item"
         href="{{ pathFor 'Login_Page' }}"> <button class="ui tiny inverted purple button">Login</button> </a>
    </div>
  </div>
</template>