.landing-section-1 {
  padding: 0px 10px 30px 10px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #FFFFFF;
  color:  grey;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #000000;
  color: grey;
}

.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}



.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}