.landing-section-1 {
  padding: 10px 10px 30px 10px;
  background-color: #03704D;
  color: #E0EFEA;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #E0EFEA;
  color:  #03704D;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #03704D;
  color: #E0EFEA;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  background-color: #E0EFEA;
  color: #03704D;
}


.landing-section-1-welcome {
  font-family: 'Yellowtail', cursive;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Yellowtail', cursive;
  font-weight: 900;
  font-size: 36px;
}

body h3{
  font-family: 'Yellowtail', cursive;
}