<template name="Directory_Profile">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="{{ profile.picture }}">
      <div class="header">
        {{ profile.firstName }} {{ profile.lastName }}
      </div>
      <div class="meta">
        {{ profile.title}}
      </div>
      <div style="margin-top: 10px">
        {{#each goal in profile.goals}}
          <a style="margin-bottom: 2px" class="ui orange tag small label">{{goal}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each capability in profile.capabilities}}
          <a style="margin-bottom: 2px" class="ui blue tag small label">{{capability}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each taste in profile.tastes}}
          <a style="margin-bottom: 2px" class="ui pink tag small label">{{taste}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ profile.username }}@hawaii.edu"><i class="big mail icon"></i></a></div>
        {{#if profile.youtube }}
          <div class="column"><a href="https://youtube.com/{{ profile.youtube}}"><i class="big youtube icon"></i></a>
          </div>
        {{/if}}
        {{#if profile.soundcloud }}
          <div class="column"><a href="https://soundcloud.com/{{ profile.soundcloud}}"><i class="big soundcloud icon">
          </i></a></div>
        {{/if}}
      </div>
    </div>
  </div>

</template>