<template name="Directory_Event">

  <div class="card">
    <div class="content">
      <div class="header">
        {{ event.eventName }}
        {{ event.createBy }}
      </div>
      <div class="meta">
        From {{ event.startDate }} {{ event.startTime }} To {{ event.endDate }} {{ event.endTime }} At {{ event.place }}
      </div>
      <div class="'description">
        {{ event.description }}
      </div>
      <div style="margin-top: 10px">
        {{#each goal in event.goals}}
          <a style="margin-bottom: 2px" class="ui orange tag small label">{{goal}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each capability in event.capabilities}}
          <a style="margin-bottom: 2px" class="ui blue tag small label">{{capability}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each taste in event.tastes}}
          <a style="margin-bottom: 2px" class="ui pink tag small label">{{taste}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="ui basic green bottom"><a href="mailto:{{ profile.username}}@hawaii.edu"></a> Contact Us </div>
      </div>
    </div>
  </div>

</template>